/* Custom CSS */
.custom-divider.ant-divider-horizontal {
    border-color: white; /* Change to your desired color */
    font-size: 20px;
}

.custom-divider.ant-divider-horizontal::before,
.custom-divider.ant-divider-horizontal::after {
    background-color: transparent; /* Set background color to transparent */
    border-top-width: 1px;
}

.avatar-scroll-container {
    overflow-x: auto;
    white-space: nowrap;
}

.avatar-list > .ant-row > .ant-col {
    display: flex;
    overflow-x: auto;
}


.avatar-scroll-container::-webkit-scrollbar {
    height: 1px;
}

.avatar-scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1px;
}

.avatar-scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
}




