.project-page .bottom-card {
    background-color: transparent;
    border: none;
}
.project-page .ant-card-body {
    padding: 6px 3px !important;
}


.project-page .ant-card {
    height: 240px;
}
.project-page .fixed-size {
    height: 210px;
}

.add-new-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 176, 5, 0.8);
}

.project-page .container-card {
    height: fit-content !important;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    filter: brightness(130%);
}

.project-page .container-card:not(:last-child) {
    margin-bottom: 8vh;
}

.div-card-seq .ant-card {
    width: inherit;
    height: inherit;
    min-width: inherit !important;
}