.bottom-card {
    background-color: transparent;
    border: none;
}
.ant-card-body {
    padding: 6px 3px !important;
}


.ant-card {
    height: 240px;
}
.fixed-size {
    height: 210px;
}

.add-new-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 176, 5, 0.8);
}

.container-card {
    height: fit-content !important;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    filter: brightness(130%);
}

.container-card:not(:last-child) {
    margin-bottom: 8vh;
}
