.graph-character .edge-popUp {
    display: none;
    position: absolute;
    top: 350px;
    left: 170px;
    z-index: 299;
    width: 250px;
    height: 90px;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #5394ed;
    padding: 10px;
    text-align: center;
}

.graph-character table.legend_table {
    font-size: 11px;
    border-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
}
.graph-character table.legend_table,
td {
    border-width: 1px;
    border-color: #d3d3d3;
    border-style: solid;
    padding: 2px;
}
.graph-character div.table_content {
    width: 80px;
    text-align: center;
}
.graph-character div.table_description {
    width: 100px;
}

.graph-character #operation {
    font-size: 28px;
}

.back-modal {
    margin-right: 5px;
}

.type-relationship-modal {
    width: 450px !important;

}

.ant-modal-content {
    padding: 10px !important;
}

.ant-modal-header {
    margin-bottom: 10px !important;
}