/*.tree div:last-child span {*/
/*    color: red !important;*/
/*}*/

.tree {
    color: rgb(208, 154, 26);
    width: auto !important;
    height: -webkit-fill-available !important;
    max-height: -webkit-fill-available !important;
}

.ant-layout-sider-children > * {
    max-width: 100%;
    white-space: nowrap; /* Чтобы предотвратить перенос строки */
    overflow: hidden; /* Чтобы скрыть превышающее содержимое */
    text-overflow: ellipsis; /* Отображение многоточия в случае обрезки */
}

.sidebar-container {
    overflow-x: auto;
    white-space: nowrap;

    width: 250px;

}

.sidebar-container > .tree{
    display: flex;
    overflow-x: auto;
}


.sidebar-container::-webkit-scrollbar {
    height: 3px;
}

.sidebar-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1px;
}

.sidebar-container::-webkit-scrollbar-track {
    background-color: transparent;
}