.tree {
    color: rgb(208, 154, 26);
    width: auto !important;
    height: -webkit-fill-available !important;
    max-height: -webkit-fill-available !important;
}

.ant-layout-sider-children > * {
    max-width: 100%;
    white-space: nowrap; /* Чтобы предотвратить перенос строки */
    overflow: hidden; /* Чтобы скрыть превышающее содержимое */
    text-overflow: ellipsis; /* Отображение многоточия в случае обрезки */
}

.sidebar-container {
    overflow-x: auto;
    white-space: nowrap;

    width: 250px;

}

.sidebar-container > .tree{
    display: flex;
    overflow-x: auto;
}


.sidebar-container::-webkit-scrollbar {
    height: 3px;
}

.sidebar-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1px;
}

.sidebar-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.form-gen-img .ant-input{
    max-width: none;
}

.form-gen-img .ant-form-item {
    margin-bottom: 1px;
}

.menu-generation .ant-card-body {
    padding: 5px;
}

.button-menu-bottom .select-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.button-menu-bottom .select-dropdown {
    position: relative;
}

.button-menu-bottom .select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}