.card-form {
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    filter: brightness(130%);
    padding: 10px;
    height: auto;

}

.additional-info-card .ant-card {
    height: min-content;
    min-width: 200px !important;
    max-width: 300px !important;
}

.relationship-info-card .ant-card {
    height: min-content;
}

.ant-card {
    max-width: 600px !important;
    min-width: 420px !important;
    width: 460px;
    height: 300px;
}

.control-steps-div {
    max-width: 600px !important;
    min-width: 420px !important;
    width: auto;
    padding-right: 25px;
}

.ant-card-body {
    padding: 0 !important;
}

.ant-input {
    max-width: 270px;
    min-width: 200px;
}

.form-data-character {
    max-width: 600px;
}


.ant-col {
    width: 300px;
}

.ant-steps {
    padding: 5px;
    width: auto;
}

.biography-card .ant-card-body {
    height: 100%;
}

.biography-card {
    padding: 15px 10px;
}

.competitions {
    width: 580px !important;
    height: 450px;
}

.competitions .long-input{
    max-width: 500px;
    width: available;
}

.identify {
    width: auto;
}

.identify .ant-card {
    min-width: 200px;
}
